html
  min-height 100%
  text-rendering optimizeLegibility

body
  min-height 100%
  background black
  font  16px "Times New Roman", Times, serif



::selection
  background-color rgba(0,0,0,1)
  color #fff
  opacity 1
  outline 3px solid blue

::-moz-selection 
  background-color #000
  color #fff
  outline 3px solid blue


p
  margin 0 0 1em

a, a:hover, a:active, a:visited
  color inherit
  text-decoration none
  cursor pointer
  &:hover
    color red

li
  list-style none

h1, .h1
  font 13px/16px arial, sans-serif
  letter-spacing 3px

h2, .h2
  font 36px/44px "Times News Roman", Times, serif
  letter-spacing 3px

h3, .h3
  font 16px/20px "Times New Roman", Times, serif
  letter-spacing 2px

h4, .h4

h5, .h5

h6, .h6

.close
  position absolute
  top 14px
  left 14px
  color red
  font-size 24px
  font-weight bold

#content
  margin 0 auto
  overflow auto

#mainNav 
  color white
  text-align center
  padding 20px
  li
    display inline-block
    text-transform capitalize
    margin 0px 10px
    cursor pointer

#infoLink
  width 16px
  height 16px
  background url('../images/home-icon.png')
  position absolute
  top 20px
  left 13px


#base 
  width 600px
  margin-top 60px
  margin-left 40px
  color white


.layer
  width 100%
  left 0px
  padding 0px 40px
  position absolute
  background-color blue
  box-sizing border-box
  min-height 1000px
  box-shadow 0px 0px 24px 5px rgba(0, 0, 0, .3)
  .title.h1
    text-align center
    margin 0
    padding 20px
    margin-bottom 60px
    cursor pointer

  .viewLink
    position fixed
    bottom 20px
    right 20px
    padding 10px
    background-color blue
    box-shadow 2px 2px 5px rgba(0, 0, 0, .2)
    color white
    font-family arial
    font-size 14px
    letter-spacing 2px
    text-transform capitalize
    &:hover
      color white
      background-color red

.channelView 
  overflow auto
  padding-bottom 200px

.block
  &.Image, &.Channel
    cursor pointer
  &.Text
    float none
    width 440px

.menu 
  .block 
    height auto
    width auto
    padding 0px 20px
    float none
    text-transform capitalize
    cursor pointer
    &.Image
      padding-bottom 20px
    .info
      display none
    .viewLink
      background-color #ccc
      &:active
        background-color #ccc
        cursor default

.grid
  .block
    padding 20px
    float left
    display table
    box-sizing border-box
    margin 5px
    margin-bottom 20px
    color black
    height 200px
    max-width 600px
    .title
      max-width 500px
      min-width 300px
    .wrapper
      display table-cell
      vertical-align middle
      pointer-events none
    .description
      max-width 500px
      margin-top 7px
    .info
      margin-top 7px
      .description, .connections
        display none
    &.Text
      .info
        .description, .connections
          display block

.list
  width 1200px
  margin 0 auto
  > li
    overflow auto
    &::after
      display block
      clear both
      padding 175px 0px
      color black
      content "\25cf"
      font-size 24px
      text-align center
    &:last-child::after
      display none
      content ''
  .block
    float none
    clear both
    .content, .info
      float left
      width  500px
    .content
      margin-right 200px
      img
        max-width 100%


#overlay
  background-color rgba(255, 0, 0, .93)
  color white
  position fixed
  overflow auto
  top 0
  left 0
  padding 50px 0px 100px 0px
  width 100%
  height 100%
  display none
  z-index 100
  .block
    color white
    margin 0 auto
    float none
    text-align center
    .title
      width 100%
      margin 0 auto
      margin-bottom 40px
      text-align center
      font-size 75px
      line-height 70px
      text-align left
      p
        display inline-block
        padding-bottom 2px
        margin 0
    img, .info
      display inline-block
      text-align left
      margin 15px
      vertical-align top
    img            
      background-color white
    .content
      display inline-block
    .info
      max-width 400px
      margin-left 30px
      top -9px
      position relative
    .description
      margin-bottom 22px
      margin-top 0px
    .connections
      .connectionLink
        display inline-block
        color black
        background-color white
        padding 3px 7px
        margin-bottom 5px
  .block.Text
    .title
      text-align center
      width: 600px
      margin-left -100px
 
  .close
    color white

