html
  min-height 100%
  text-rendering optimizeLegibility

body
  min-height 100%
  background black
  font  16px "Times New Roman", Times, serif
  text-rendering optimizeLegibility



::selection
  background-color rgba(0,0,0,1)
  color #fff
  opacity 1
  outline 3px solid blue

::-moz-selection 
  background-color #000
  color #fff
  outline 3px solid blue


p
  margin 0 0 12px

a, a:hover, a:active, a:visited
  color inherit
  text-decoration none
  cursor pointer
  position relative
  &:hover
    margin-top: 1px

li
  list-style none

h1, .h1
  font 13px/16px arial, sans-serif
  letter-spacing 3px

h2, .h2
  font 36px/44px "Times News Roman", Times, serif
  letter-spacing 3px

h3, .h3
  font 16px/20px "Times New Roman", Times, serif
  letter-spacing 2px
  word-spacing -1px

h4, .h4

h5, .h5

h6, .h6

.channelLink::after 
  content " "

.close
  position absolute
  top 14px
  left 14px
  color red
  font-size 24px
  font-weight bold


#topArrow
  position: fixed;
  bottom: 16px;
  left: 12px;
  font-size: 16px;
  z-index 9999
  color red
  display none

#mainWrapper 
  position relative
  overflow hidden

#content
  margin 0 auto
  overflow auto

#mainNav 
  color white
  text-align center
  padding 20px
  li
    display inline-block
    text-transform capitalize
    margin 0px 10px
    cursor pointer

#infoLink
  width 18px
  height 18px
  background url('../images/home-icon.png')
  position absolute
  top 20px
  left 13px


#base
  h3, .h3, h2, .h2
    font-family arial
  ::selection
    background-color rgba(255,255,255,1)
    color black
    opacity 1
  box-sizing content-box
  padding-bottom 100px
  margin 48px auto 0 auto
  color white
  .block
    -webkit-transition .25s
    width 360px
    .connections
      display none
      margin-bottom 0px
    &.Channel
      padding-bottom 36px
      text-transform capitalize
      .title
        display none
      a
        background-color white
        color black
        padding 3px 10px
    &.Image
      margin-bottom 36px
      text-align center
      img
        max-width 100%
      .title
        font 12px/13px arial
        letter-spacing 1px
        border-bottom none
        -webkit-transform none
        text-align: left
        margin-bottom 0px

  .blockCont
    float left
    margin 0px 36px
    img
      max-width 720px
      margin-top 10px
      margin-bottom 5px
    .info 
      width auto
    .title
      text-align left
      font-family arial
      border-bottom 1px solid white
      text-transform capitalize
      margin-bottom 12px
      padding-bottom 2px

    .description
      padding-bottom 24px
      a
        border-bottom 1px solid white
      ul
        li
          margin-bottom 10px
          padding-left 17px
          left -17px
          position relative
        li:before
           content "•"
           font-size 24px
           position: absolute
           left 0px
           top: 0px


    .connectionLink
      display block


.layer
  width 100%
  left 0px
  padding 0px 40px
  position absolute
  background-color blue
  box-sizing border-box
  min-height 1000px
  box-shadow 0px 0px 24px 5px rgba(0, 0, 0, .3)
  .title.h1
    text-align center
    margin 0
    padding 20px
    margin-bottom 60px
    cursor pointer

  .viewLink
    position fixed
    bottom 20px
    right 20px
    padding 10px
    background-color blue
    box-shadow 2px 2px 5px rgba(0, 0, 0, .2)
    color white
    font-family arial
    font-size 14px
    letter-spacing 2px
    text-transform capitalize
    &:hover
      color white
      background-color red

.channelView 
  overflow auto
  padding-bottom 200px

.block
  &.Channel
    cursor pointer
  .connectionLink
    display block

.menu 
  .block 
    height auto
    width auto
    padding 0px 20px
    float none
    text-transform capitalize
    cursor pointer
    &.Image
      padding-bottom 20px
    .info
      display none
    .viewLink
      background-color #ccc
      &:active
        background-color #ccc
        cursor default

.channelCont:not(.artists-projects) .channelView:not(.menu)
  width 1200px
  margin 0 auto
  hr
    display none
  .blockCont
    overflow auto
    &::after
      display block
      clear both
      padding 175px 0px
      color black
      content ""
      font-size 24px
      text-align center
    &:last-child::after
      display none
      content ''
  .block
    &.Text
      float none
      width 440px
    &.Image
      .content
        text-align right
    .title
      text-transform capitalize
      float none
      clear both
    .content, .info
      float left
      width  500px
    .content
      margin-right 200px
      img
        max-width 100%
    .connections
      margin-top 32px

    .connectionLink
      font-style:italic


.single, .artists-projects .list
  .block
    float none
    .description
      width 500px
    margin-bottom 50px
    &.Image
      width 100%
      img
        margin-bottom 10px
    .connectionLink
      display block
