body
  background #91A2C0
  font bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif

ul
  list-style-type none

a, a:visited
  color #F95A5A
  text-decoration none

a:hover
  color #665248

#home-view
  width 600px
  height 200px
  margin 20px auto

  #content
    background #FFF
    padding 20px
    -webkit-border-radius 4px
    -moz-border-radius 4px
    border-radius 4px



/* Default font settings */
html
  min-height 100%

body
  min-height 100%
  font-size 15px
  color #666
  background blue
  font-family "KievitPro", "ff-kievit-web-pro-1","ff-kievit-web-pro-2", "Helvetica Neue", Arial, Helvetica, sans-serif

/* Headings */
h1,h2,h3,h3,h4
  font-weight normal
  color #222
  clear left

h1
  font-size 5em
  line-height 1.4
  margin-bottom 0.5em
h2
  font-size 2em
  line-height 1
  margin-bottom 0.5em

/* Text elements */
p
  margin 0 0 1.5em

a:focus, a:hover
  
a
  color #F95A5A
  text-decoration none

/* Lists */
ul, ol
  list-style-type none

/* Style */
#content
  margin 0 auto
  border 5px solid blue
  overflow auto

h1
  background #91A2C0
  background-image url('http://brunchwithcoffee.com/static/img/brunch.png')
  background-repeat no-repeat
  background-position 2px
  color #fff
  width 330px
  padding-left 138px
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px

#props
  position relative
  top 36px
  font-size 18px
  padding-left 373px
  color #eee
  font-style italic

.block
  background-color white
  width 25%
  display table
  padding 20px
  float left
  text-align center
  box-sizing border-box
  border 5px solid blue 
  color red
  letter-spacing 3px
  height 100px
  .wrapper
    display table-cell
    vertical-align middle

