@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  #base
    padding 10px
    .blockCont
      margin 0px
      .block
        width 100%

  .layer 
    padding 10px

  .channelCont:not(.artists-projects) .channelView:not(.menu)
    width 100%
    overflow hidden
    .blockCont
      width 100%
      .block
        width 100%
        background-color red
        position relative
        img
          max-width 100%
          height auto
        &.Text
          width 100%
        .content, .info, .description
          width 100%
        .content
          margin-right 0px
      &.logo
        .block
          width 100%

