<html>

<head>
  <title></title>
  <style type="text/css"></style>
</head>

<body>

  <table class="section" width="700" border="0" bgcolor="#ffffff">


    <tr>
      <td width="700" colspan="2" align="center" valign="top">
        <img mc:edit="header_image" width="700" border="none" align="top">
      </td>
    </tr>


    <tr>
      <td height="50">&nbsp;</td>
    </tr> 



      <tr mc:repeatable="item">
        <td style="width:220px; padding-right:30px; padding-bottom:50px;" align="center" valign="top">
          <img mc:edit="book_image" style="max-width:220px" border="none" align="top">
        </td>

        <td width="450" align="left" valign="top" style="padding-bottom:50px;">
          <p style="font-family: helvetica,sansserif; font-size: 13px; width: 450px; line-height: 150%;">
          <span mc:edit="title" style="font-family: monaco,helvetica,sansserif; letter-spacing: -0.03em; font-weight: lighter;  font-size: 30px; line-height: 100%;"></span></p>
          <br>
          <p mc:edit="location-date" style="font-family: helvetica,sansserif; font-size: 13px; width: 450px; line-height: 150%;"></p>
          <br>
          <div mc:edit="info" style="font-family: helvetica,sansserif; font-size: 13px; width: 450px; line-height: 150%;">
          </div>
        </td>
      </tr>


</table>


<table class="section" width="700" border="0" bgcolor="#ffffff">


  <tr>
    <td width="700" colspan="2" align="center" valign="top">
      <img mc:edit="header_image_2" width="700" border="none" align="top">
    </td>
  </tr>


  <tr>
    <td height="50">&nbsp;</td>
  </tr> 

  <tr mc:repeatable="item2">
    <td style="width:220px; padding-right:30px; padding-bottom:60px;" align="center" valign="top">
      <img mc:edit="book_image_2" style="max-width:220px" border="none" align="top">
    </td>

    <td width="450" align="left" valign="top" style="padding-bottom:60px;">
      <p style="font-family: helvetica,sansserif; font-size: 13px; width: 450px; line-height: 150%;">
      <span mc:edit="title_2" style="font-family: monaco,helvetica,sansserif; letter-spacing: -0.03em; font-weight: lighter;  font-size: 30px; line-height: 100%;"></span></p>
      <br>
      <p mc:edit="location-date_2" style="font-family: helvetica,sansserif; font-size: 13px; width: 450px; line-height: 150%;"></p>
      <br>
      <div mc:edit="info_2" style="font-family: helvetica,sansserif; font-size: 13px; width: 450px; line-height: 150%;">
      </div>
    </td>
  </tr>

</table>








<center>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <table border="0" cellpadding="20" cellspacing="0" width="100%" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" id="canspamBarWrapper">
    <tr>
      <td align="center" valign="top" style="padding-bottom:0;">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="canspamBar">
          <tr>
            <td align="left" valign="top" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;">
              Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a>
              <br />
              <a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> |
              <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a>
              <br />
              *|LIST:ADDRESSLINE|*
            </td>
            <td align="left" valign="top"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</center>
</body>
</html>